/* Importing */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(#f5eeff, #dac3f8);
}

#root {
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 410px;
  border-radius: 10px;
  background: linear-gradient(#352163, #33143c);
  box-shadow: 0 10px 20px rgb(0 0 0 /10%);
}

.search-section {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 25px;
}

.search-section .search-form {
  position: relative;
  width: 100%;
  height: 48px;
}

.search-section .search-form span {
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.search-section .search-input {
  width: 100%;
  height: 100%;
  background: rgb(255 255 255 /5%);
  padding: 0 20px 0 50px;
  outline: none;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 6px;
  border: 1px solid rgb(255 255 255 /25%);
}

.weather-section :where(h2, p, span) {
  color: #fff;
}

.hourly-forecast .weather-list {
  display: flex;
}

.hourly-forecast .weather-item .weather-icon {
  width: 28px;
  aspect-ratio: 1;
}
